<nav class="navbar">
    <!-- Logo -->
    <div class="navbar-left">
      <h1 class="logo">JobPortal</h1>
    </div>
  
    <!-- Center: Links -->
    <div class="navbar-center">
      <a href="#" class="nav-link">Jobs</a>
      <a href="#" class="nav-link">Proposals</a>
      <a href="#" class="nav-link">Contracts</a>
      <a href="#" class="nav-link">Chat</a>
      <a href="#" class="nav-link">Notifications</a>
    </div>
  
    <!-- Right: Profile -->
    <div class="navbar-right">
      <a href="#" class="nav-link profile-link">Profile</a>
    </div>
  </nav>
  
<router-outlet></router-outlet>
